html,
body,
[class*="css"] {
  font-family: inter;
}

.st-emotion-cache-keje6w {
  border-radius: 12px;
  padding: 12px 0px;
  display: flex;
  /* align-items: center; */
  /* justify-content: center; */
  /* background: #3EC300; */
}

/* .element-container st-emotion-cache-qg7dhs e1f1d6gn4:first-child {
  background: #3EC300;
}

.element-container st-emotion-cache-qg7dhs e1f1d6gn4 :nth-child(2) {
  background: #DD614A;
} */
.st-emotion-cache-q8sbsg e1nzilvr5 {
  color: white;
}